html {
  /*hide a horizontal scroll*/
  overflow-x: hidden;
  /*slow scroll*/
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 189, 161);
  border-radius: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /*without paddings*/
  margin: 0;
  /*width: 100%;*/
  overflow: auto;
  overflow-x: hidden;
}

/* HEADER */
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("../img/93oLBnlZo0s.jpg");
  margin: 0 auto;
  padding: 0 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  flex-basis: 400px;
}

.menu a {
  display: inline-block;
  color: #00bfff;
  /* Цвет обычной ссылки */
  line-height: 1;
  text-decoration: none;
  /* Убираем подчеркивание */
  cursor: pointer;
}

.menu a:after {
  background-color: #fff;
  display: block;
  content: "";
  height: 2px;
  /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  margin-top: 3px;
}

.menu a:hover:after,
.menu a:focus:after {
  width: 100%;
}

#homePage {
  padding-top: 350px;
  margin-top: -171px;
  background-clip: content-box;
}

#Problem {
  padding-top: 110px;
  margin-top: -116px;
  background-clip: content-box;
}

#PiperCoin {
  padding-top: 110px;
  margin-top: -83px;
  background-clip: content-box;
}

#ourTeam {
  padding-top: 110px;
  margin-top: -83px;
  background-clip: content-box;
}

.headLogo {
  float: left;
  margin: auto;
}

.problem {
  color: white;
  width: 128px;
  height: 29px;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  transition: 1s;
  /* Время эффекта */
}

.problem:hover {
  transform: scale(1.2);
  /* Увеличиваем масштаб */
}

.PiedPiperCoin {
  color: white;
  width: 145px;
  height: 29px;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  transition: 1s;
  /* Время эффекта */
}

.PiedPiperCoin:hover {
  transform: scale(1.2);
  /* Увеличиваем масштаб */
}

.team {
  color: white;
  width: 92px;
  height: 29px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  transition: 1s;
  /* Время эффекта */
}

.team:hover {
  transform: scale(1.2);
  /* Увеличиваем масштаб */
}

/* BLOCK 1 */

.piperNet {
  position: relative;
  top: -333px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  z-index: 1;
  width: 100%;
  height: auto;
}

.netText {
  position: absolute;
  color: #fff;
  width: 500px;
  font-size: 58px;
  line-height: 70px;
  z-index: 2;
  text-align: center;
}

.Over {
  position: absolute;
  color: #fff;
  font-size: 24px;
  z-index: 2;
  margin-top: 35%;
  width: 55%;
  text-align: center;
}

ul {
  position: absolute;
  color: #fff;
  font-size: 26px;
  z-index: 2;
  margin: 660px 0px 0px 0px;
  width: 55%;
  text-align: center;
  padding-inline-start: 0px;
  line-height: 1.5;
}

li {
  list-style-type: none;
  margin: 0 20px;
}

.slide-up-animation {
  display: block;
}

.fade-in-element {
  animation: fade-in 1.4s;
  animation-fill-mode: forwards;
}

/* BLOCK 2 */

.theProblem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: -300px;
}

.problemText {
  display: inline;
  color: #007765;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}

.beneath {
  display: block;
  width: 847px;
  height: 372px;
  /*width: 55%;
  height: 24%;*/
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  max-width: 1535px;
}

/* BLOCK 3 */

.blueBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/AWBlpEADiq0.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 368px;
  max-width: 1535px;
  margin: 0 auto;

}

.blueText {
  display: block;
  color: #fff;
  width: 675px;
  height: 184px;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  margin: 0 auto;
}

/* BLOCK 4 */

.introducingPlace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
}

.introducingText {
  display: inline;
  color: #007765;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}

.piedPipers {
  display: block;
  width: 845px;
  height: 278px;
  /*width: 55%;
  height: 18%;*/
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  padding-top: 36px;
  max-width: 1535px;
}

.PPClogo {
  float: left;
}

#pIMG {
  padding-left: 112px;
  margin: 7px 7px 7px 0;
}

/* BLOCK 5 */
.contTeam {
  align-items: center;
  max-width: 1535px;
  height: 100%;
  margin: 0 auto;
}

.teamPlace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEEEEE;
}

.teamText {
  display: inline;
  color: #007765;
  font-size: 48px;
  text-align: center;
  margin: 40px 0px 0px 0px;
}

.teamCards {
  margin: -30px 0px 0px 0px;
}

.figure {
  margin: 80px 80px 0px 80px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardsIMG {
  width: 350px;
  height: 283px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 55px;
}

.figcaption {
  margin: -10px 0px 0px 0px;
}

.name__card {
  font-size: 24px;
  line-height: 28px;
  color: #007765;
  margin: 20px 0px 10px 0px;
}

.cards__foto {
  width: 168px;
  height: 168px;
}

/* FOOTER */

.footerBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/pw5JAq3Jpac.jpg");
  max-width: 1535px;
  height: 134px;
  margin: 0 auto;
}

.footerText {
  display: inline;
  color: #fff;
  width: 42%;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}